<!DOCTYPE html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    </head>
    <body>
        <div class='container'>
            
            {% if fb_table %}

            <table class='table'>
                <thead>
                    <th>First Name</th>
                    <th>Chat ID</th>
                    <th>Intent</th>
                    <th>Rating</th>
                    <th>Triggered Intent</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Date Time</th>
                </thead>
                {% for i in fb_table %}
                <tr>
                    <td>{{i.first_name}}</td>
                    <td>{{i.chat_ID}}</td>
                    <td>{{i.intent}}</td>
                    <td>{{i.rating}}</td>
                    <td>{{i.triggered_intent}}</td>
                    <td>{{i.question}}</td>
                    <td>{{i.answer}}</td>
                    <td>{{i.datetime}}</td>
                </tr>
                {%endfor%}
            </table>
            {% else %}
            <br>
            <p>No record found!</p>
            {%endif%}
            <br>

        </div>
        <script src="" async defer></script>
    </body>
</html>