<!DOCTYPE html>
{% load static %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to Chatbot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/chatroom.css" %}">
    </head>
    <body>
        
        <h1>For uploading graphs:</h1>
        <br>
        {% for i in imgs %}
        <p>{{i}}</p>
          <img src="{% static 'plots/'%}{{i}}" alt="Picture not found">
        {% endfor %}
        
    </body>
</html>